$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../font" !default;

$icon-hat1: "\e900";
$icon-hat2: "\e901";
$icon-autoselect: "\e902";
$icon-trade1: "\e903";
$icon-discord: "\e933";
$icon-steam_circle: "\e904";
$icon-chat: "\e905";
$icon-checkmark: "\e906";
$icon-trade2: "\e907";
$icon-home: "\e908";
$icon-pencil: "\e909";
$icon-ticket: "\e90a";
$icon-credit-card: "\e90b";
$icon-clock: "\e90c";
$icon-drawer: "\e90d";
$icon-download: "\e90e";
$icon-database: "\e90f";
$icon-spinner1: "\e910";
$icon-search: "\e911";
$icon-wrench: "\e912";
$icon-equalizer: "\e913";
$icon-refined_metal: "\e914";
$icon-stats-dots: "\e915";
$icon-stats-bars: "\e916";
$icon-plus: "\e917";
$icon-minus: "\e918";
$icon-exit: "\e919";
$icon-spinner2: "\e91a";
$icon-code: "\e91b";
$icon-facebook: "\e91c";
$icon-youtube: "\e91d";
$icon-youtube2: "\e91e";
$icon-steam_rectangle: "\e91f";
$icon-paypal: "\e920";
$icon-close: "\e921";
$icon-trash1: "\e922";
$icon-user: "\e923";
$icon-signal: "\e924";
$icon-info: "\e925";
$icon-logout: "\e926";
$icon-notifications1: "\e927";
$icon-notifications2: "\e928";
$icon-verified: "\e929";
$icon-arrow_down: "\e92a";
$icon-trash-can2: "\e92b";
$icon-key: "\e92c";
$icon-trash-can1: "\e92d";
$icon-mail: "\e92e";
$icon-group: "\e92f";
$icon-asc: "\e930";
$icon-desc: "\e931";
$icon-trash-can3: "\e932";

